#title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: center;
  font-size: x-large;
}